@import '../../../styles/variables';
$audioButtonBorderRadius: 1rem;

.container {
  display: flex;
  flex-direction: column;
}

.audioButton {
  display: block;
  width: $audio-btn-size;
  height: $audio-btn-size;
  position: relative;
  background-color: $ITS-primary-light;
  border-width: 0;
  border-radius: $audioButtonBorderRadius;
  color: $ITS-primary-base;
  transition: 100ms ease-in-out;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    margin: -1rem -1rem;
    width: calc($audio-btn-size + 2rem);
    height: calc($audio-btn-size + 2rem);
  }
  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btnImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $audioButtonBorderRadius;
}

.btnImageOptions {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0.5;
  background-color: white;
  border-radius: $audioButtonBorderRadius;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 0;
  font-size: 0.8rem;
}

.deleteBtn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: $ITS-secondary-base;
  border-radius: 100%;
  border-width: 0.3rem;
  border-color: $ITS-primary-base;
  border-style: solid;
  color: $ITS-terciary-base;
}
