@import "../../../styles/variables";

.audioButton {
  display: block;
  width: $audio-btn-size;
  height: $audio-btn-size;
  background-color: $ITS-primary-light;
  border-radius: 1rem;
  border-width: 0;
  color: $ITS-primary-base;
  transition: 100ms ease-in-out;
  overflow: hidden;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    margin: -1rem -1rem;
    width: calc($audio-btn-size + 2rem);
    height: calc($audio-btn-size + 2rem);
  }
  &:disabled {
    pointer-events: none;
    cursor: default;
  }
}

.btnImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
