@import '../../../styles/variables';

.container {
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: $modal-columns;
  grid-template-rows: $modal-rows;
  column-gap: $modal-col-gap;
  row-gap: $modal-row-gap;
}

.textInput {
  grid-column: 1 / span 2;
  grid-row: auto / span 2;
}

.fieldsetAudio {
  grid-column: 1 / span 2;
  grid-row: auto / span 4;
}

.audiOption {
  grid-column: 1 / span 2;
  grid-row: auto / span 1;
}

.fieldsetImage {
  grid-column: 3 / span 2;
  grid-row: 1 / span 4;
}

.imageOption {
  grid-column: 3 / span 2;
  grid-row: 5 / span 1;
}
