@import '../../styles/variables';

.mainContainer {
  display: grid;
  padding: 6rem $x-padding/2 2rem $x-padding/2;
  width: 100vw;
  min-height: 100vh;

  grid-template-columns: repeat($btns-amount, 1fr);
  column-gap: $btns-gap;
}
