@import '../../../styles/variables';

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: $modal-row-gap;
}

.labelInput {
  font-size: 0.8rem;
}

.textInput {
  padding: 0.2rem 0.4rem;
  border-width: 0.15rem;
  border-style: solid;
  border-radius: 0.5rem;
  font-weight: bold;
}

.primary {
  background-color: $ITS-primary-light;
  border-color: white;
  color: $ITS-primary-base;
}

.secondary {
  background-color: $ITS-secondary-light;
  border-color: white;
  color: $ITS-primary-base;
}
