.item {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.container {
  width: 100%;
  position: relative;
  background-color: white;
  color: white;
}

.container:hover {
  color: darkolivegreen;
  transition: all 0.3s color;
}

.container:hover .overlay {
  opacity: 0;
  transition: all 0.3s opacity;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.tittle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  color: inherit;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s opacity;
  background-color: #000;
  opacity: 0.5;
}
